.set_state_radios {
    float: left;
    width: 58px;
}
.recommendation_area {
    float: left;
    width: 300px;
}
.recommendation_area textarea {
    width: 290px;
    height: 70px;
}
.recommendation_area button {
    float: right;
}
.other_groups_recommendations {
    margin-top: 10px;
    border-top: 1px solid #ccc;
}
